.movie {
  padding: 0 15px;
  float: left;
  //   width: 20%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 280px;
  margin-bottom: 30px;
  &__body {
    overflow: hidden;
    position: relative;
    &__img {
      border-bottom: 3px solid #fe7900;
      position: relative;
      img {
        height: 360px;
        width: 250px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        transition: all 0.5s ease 0s;
        transform: scale(1);
        vertical-align: middle;
      }
      &__info {
        position: absolute;
        right: 0;
        top: 25px;
        text-align: right;
        span {
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 10px;
          text-transform: uppercase;
          background: #fe7900;
          color: #ffffff;
          margin-bottom: 4px;
        }
      }
    }
    &__content {
      min-height: 100px;
      font-size: 13px;
      color: #999;
      h4 {
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        margin: 10px 0;
      }
      &__date {
        margin-bottom: 10px;
      }
      &__icons {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        svg {
          height: 20px;
          border-radius: 3px;
          &:nth-child(3),
          &:nth-child(5),
          &:nth-child(6) {
            height: 19px;
            // width: 34px;
            border-radius: 3px;
            border: 2px solid #000;
          }
          &:nth-child(4) {
            width: 34px;
            height: 19px;
            border-radius: 3px;
            border: 2px solid #000;
          }
        }
      }
      &__btn {
        a {
          display: inline-block;
          margin-right: 30px;
          color: #666666;
          line-height: 22px;
          svg {
            fill: #666;
            border-radius: 50%;
            border: 1px solid #666;
            color: #ffffff;
            display: block;
            float: left;
            height: 20px;
            line-height: 20px;
            margin-right: 8px;
            text-align: center;
            width: 20px;
            font-size: 9px;
          }
        }
      }
    }
    &__hover {
      transform: rotateY(180deg);
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
      color: #fff;
      cursor: default;
      height: 100%;
      opacity: 0;
      padding: 20px 15px;
      position: absolute;
      text-align: left;
      transition: all 0.5s ease 0s;
      width: 100%;
      z-index: 2;
      h4 {
        margin: 0px 0 10px;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        a {
          color: #fff;
          cursor: pointer;
          outline: medium none;
          transition: all 0.3s ease 0s;
          &:hover {
            color: #fe7900;
          }
        }
      }
      &__pg {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px;
        text-transform: uppercase;
        background: #fe7900 none repeat scroll 0 0;
        color: #ffffff;
        margin-bottom: 10px;
      }
      &__text {
        margin-bottom: 20px;
        p {
          margin: 0 0 10px;
          height: 20px;
          overflow: hidden;
          margin-bottom: 3px;
          font-size: 14px;
          line-height: 20px;
          strong {
            color: #999;
          }
        }
      }
      &__btn {
        bottom: 10px;
        left: 15px;
        position: absolute;
        display: flex;
        a {
          color: #fff;
          display: inline-block;
          display: flex;
          line-height: 22px;
          margin-right: 25px;
          svg {
            border-radius: 50%;
            display: block;
            float: left;
            height: 20px;
            margin-right: 8px;
            text-align: center;
            width: 20px;
            font-size: 9px;
            border: 1px solid #fe7900;
            fill: #fe7900;
            background-color: #ffffff;
            line-height: 20px;
          }
        }
      }
    }
    &:hover {
      .movie__body__hover {
        transform: rotateY(0deg);
        opacity: 1;
      }
      .movie__body__img {
        img {
          transform: scale(1.8);
        }
      }
    }
  }
}
