.about {
  background-color: transparent;
  &__up {
    padding: 80px 0;
    zoom: 1;
    max-width: 100vw;
    position: relative;
    background: 0 0 !important;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    width: 100%;
    color: #f7f7f7;
    align-items: center;
    &__back {
      display: block;
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      img {
        max-width: 100%;
        object-fit: cover;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        font-family: 'object-fit: cover;';
        z-index: -101;
      }
      &__video {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        z-index: -100;
        video {
          inset: 0px;
          width: 1519.2px;
          height: 1354.55px;
          max-width: none;
          max-height: none;
          pointer-events: none;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          will-change: transform, opacity;
          margin: -440.275px 0px 0px;
          z-index: -1;
          transform: translate3d(0px, 0px, 0px);
          border: none !important;
        }
      }
    }
    &__color {
      background-color: #000000;
      opacity: 0.39;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
    &__body {
      width: 92%;
      margin: 0 auto;
      max-width: 1140px;
      &__container {
        width: 100%;
        height: auto;
        display: flex;
        &__text {
          width: 100%;
          position: relative;
          z-index: 5;
          height: auto;
          display: flex;
          justify-content: center;
          h2 {
            font-size: 160px;
            font-weight: 400;
            text-align: center;
            line-height: 1.5;
            font-family: Six Caps;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &__body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    position: relative;
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(23, 31, 38, 0.9);
      pointer-events: none;
      top: 0;
      left: 0;
    }
    &__container {
      padding-top: 40px;
      text-align: center;
      color: #fff;
      position: relative;
      // width: 1170px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      &__content {
        margin-left: -15px;
        margin-right: -15px;
        h1 {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 16px;
        }
        &__description {
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 30px;
          text-align: left;
          p {
            font-size: 16px;
            line-height: 19px;
            padding-bottom: 15px;
            text-align: left;
          }
        }
        &__hall {
          margin-bottom: 42px;
          list-style: none;
          li {
            border: 1px solid #ffffff;
            border-radius: 20px;
            padding: 10px 15px;
            margin-bottom: 15px;
            margin-right: 3px;
            font-size: 15px;
            line-height: 21px;
            display: inline-block;
            span {
              font-size: 15px;
              line-height: 21px;
              color: #fff;
            }
          }
        }
        &__list {
          display: flex;
          flex-wrap: wrap;
          &__item {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 44px;
            font-size: 16px;
            line-height: 21px;
            margin-top: 8px;
            width: 50%;
            img {
              display: inline-block;
              margin-bottom: 20px;
            }
            &:nth-child(2) {
              img {
                margin-top: 26px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .about {
    margin-top: 50px;
    h2 {
      font-size: 100px;
    }
    &__up{
      height: 400px;
      &__back__video {
        video {
          height: 900px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .about {
    margin-top: 50px;
    &__up__back__video {
      video {
        object-fit: cover;
      }
    }
  }
}
@media (min-width: 280px)  and (max-width: 540px) {
  .about__body__container {
    width: 70%;
    &__content__description {
      p {
        font-size: 14px;
      }
    }
    &__content__list {
      flex-direction: column;
      align-items: center;
      p {
        font-size: 14px;
      }
      &__item {
        width: 100%;
      }
    }
  }
}
@media (min-width: 540px)  and (max-width: 768px){
  .about__body__container {
    width: 510px;
    &__content__list {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (min-width: 768px) {
  .about__body__container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .about__body__container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .about__body__container {
    width: 1170px;
  }
}
