.home {
  // background-color: grey;
  &__tab {
    padding-top: 50px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    &__header {
      text-align: center;
      height: 46px;
      &__btn {
        border: none;
        border-radius: 5px 5px 0 0;
        padding: 15px 20px 12px 20px;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        display: inline-block;
        color: #000;
        background-color: #fff;
        transition: all 0.2s linear;
        cursor: pointer;
        &:nth-child(1),
        &:nth-child(2) {
          margin-right: 5px;
        }
      }
    }
    &__body {
      border-top: 5px solid #1e2129;
      position: relative;
      &__container {
        &__today {
          display: block;
          &__up {
            padding: 25px 0;
            // background: #334e9e;
            background-color: #1e2129;
            text-align: center;
            &__drop {
              display: inline-block;
              margin-right: 40px;
              appearance: none;
              select {
                font-size: 16px;
                line-height: 19px;
                padding: 0 15px 0 20px;
                float: left;
                margin-right: 1px;
                border-radius: 20px;
                min-width: 170px;
                height: 40px;
                border: none;
                &:focus-visible {
                  outline: none;
                }
              }
            }
          }
          &__middle {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 100px;
            padding-top: 10px;
            // width: 1170px;
            &__body {
              margin-left: -15px;
              margin-right: -15px;
              display: flex;
              flex-wrap: wrap;
            }
          }
        }
        &__schedule {
        }
        &__soon {
        }
      }
    }
  }
  &__parallax {
    background-color: #1e2129;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0px;
    display: block;
    &__container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      &__body {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        &__left {
          // flex: 0 0 50%;
          // max-width: 50%;
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          &__content {
            h2 {
              font-size: 50px;
              font-weight: 700;
              margin-bottom: 0;
              color: #fff;
            }
            ul {
              margin: 0;
              padding: 0;
              margin-bottom: 1rem !important;
              margin-top: 1rem !important;
              li {
                margin-bottom: 0;
                line-height: 36px;
                position: relative;
                padding: 0;
                display: inline;
                margin-right: 5px;
                color: #e41a1a;
                font-size: 20px;
                img {
                  width: 19px;
                }
              }
            }
            h6 {
              color: #fff;
              margin-top: 0.5rem !important;
              margin-bottom: 0.5rem !important;
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.2;
            }
            p {
              color: #fff;
              font-size: 14px;
              line-height: 1.8;
              margin-bottom: 15px;
              font-weight: 400;
              letter-spacing: 0.5px;
            }
            &__btn {
              button {
                cursor: pointer;
                margin-right: 1rem !important;
                display: inline-block;
                font-weight: 400;
                color: #212529;
                text-align: center;
                vertical-align: middle;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0.25rem;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                  box-shadow 0.15s ease-in-out;
              }
              button:first-child {
                color: #fff !important;
                background-color: #e41a1a;
                border-color: #e41a1a;
                font-size: 14px;
                padding: 10px 30px;
              }
              button:last-child {
                color: #f8f9fa;
                border-color: #f8f9fa;
              }
            }
          }
        }
        &__right {
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          // flex: 0 0 50%;
          // max-width: 50%;
          &__about {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 100%;
              height: auto;
              border-style: none;
            }
            &__play {
              height: 150px;
              width: 150px;
              position: absolute;
              text-align: center;
              // bottom: 20px;
              // border-radius: 5px;
              // left: 40%;
              // top: 30%;
              a {
                background-color: transparent;
                color: #8f8f8f;
                img {
                  background-color: #ffffff;
                  height: 75px;
                  width: 75px;
                  text-align: center;
                  line-height: 75px;
                  border-radius: 50%;
                  border: 3px solid #e41a1a;
                  font-size: 24px;
                  margin-bottom: 10px;
                  margin-top: 23px;
                }
                span {
                  color: #fff;
                  font-weight: bolder;
                }
              }
            }
          }
        }
      }
    }
  }

  &__more {
    padding: 60px 50px 290px;
    position: relative;
    overflow: hidden;
    min-height: 360px;
    font-size: 16px;
    line-height: 1.4;
    // background-color: #0a0a0d;
    background-color: #1e2129;
    font-family: 'Roboto', sans-serif;
    &__pattern {
      position: absolute;
      left: 0;
      top: 200px;
      svg {
        opacity: 0.6;
      }
    }
    &__container {
      max-width: 1200px;
      margin: auto;
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        margin-top: 70px;
        &__title {
          display: flex;
          align-items: center;
          text-transform: uppercase;
          svg {
            margin-right: 16px;
          }
          span {
            display: inline-block;
            color: #fff;
            font-size: 23px;
            letter-spacing: 6px;
            line-height: 28px;
            margin-right: 15px;
            font-family: Bebas Neue, sans-serif;
          }
        }
      }
      &__content {
        display: flex;
        &__info {
          width: 100%;
          max-width: 500px;
          margin-right: 55px;
          color: #fff;
          z-index: 100;
          &__logo {
            &__body {
              box-sizing: border-box;
              display: inline-block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0;
              margin: 0;
              padding: 0;
              position: relative;
              max-width: 100%;
              &__img {
                // position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                // width: 0px;
                // height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                opacity: 0;
              }
            }
          }
          &__title {
            font-size: 38px;
            font-weight: 600;
            line-height: 42px;
            margin: -25px 0 15px;
            span {
              color: #e55ffe;
            }
          }
          &__action {
            margin-top: 40px;
            a {
              height: 65px;
              line-height: 1;
              width: 200px;
              color: #fff;
              font-size: 17px;
              font-weight: 500;
              letter-spacing: 3px;
              background-color: #0a0a0d;
              border-radius: 12px;
              text-transform: uppercase;
              display: flex;
              text-align: center;
              margin-left: 3px;
              position: relative;
              transition: opacity 1s ease-in-out;
              span {
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 5;
                font-weight: 500;
                line-height: 1;
                width: 100%;
                height: 65px;
                background: #0a0a0d;
                border-radius: 12px;
                transition: opacity 1s ease-in-out;
              }
              &::after {
                position: absolute;
                top: -3px;
                right: -3px;
                bottom: -3px;
                left: -3px;
                content: '';
                border-radius: 12px;
                opacity: 0.3;
                transition: opacity 1s ease-in-out;
                background: linear-gradient(90deg, #e55ffe, #60ced1);
              }
              &:hover {
                transition: opacity 1s ease-in-out;
                &::after {
                  transition: opacity 1s ease-in-out;
                  opacity: 1;
                  background: linear-gradient(360deg, #9c1b1b, #b2beb2);
                }
              }
            }
          }
        }
      }
    }
    &__images {
      position: absolute;
      top: 175px;
      margin-left: 43%;
      margin-right: -50px;
      &__more {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
        height: 190px;
        position: relative;
        left: 100px;
        &__row {
          flex-shrink: 0;
          display: flex;
          margin-bottom: 20px;
          height: 190px;
          &:first-child,
          &:last-child {
            position: relative;
            left: 100px;
          }
          &__wrapper {
            flex-shrink: 0;
            display: flex;
            margin-bottom: 20px;
            left: 100px;
            position: relative;
            min-width: 380px;
            height: 190px;
            margin-right: 30px;
            span {
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0;
              margin: 0;
              padding: 0;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              img {
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

.tab_active {
  background: #1e2129;
  color: #fff;
  cursor: default;
}

@media (min-width: 280px) and (max-width: 450px) {
  .home__parallax {
    background-position: 40%;
    &__container {
      max-width: 390px;
      &__body {
        &__left {
          &__content__btn {
            button {
              font-size: 10px !important;
              padding: 8px 25px !important;
            }
          }
          p {
            display: none;
          }
        }
        &__right {
          margin-top: 15px;
          &__about__play {
            a {
              span {
                font-size: 14px !important;
              }
              img {
                font-size: 10px !important;
                width: 55px !important;
                height: 55px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 450px) {
  .home__parallax {
    background-position: 30%;
    &__container {
      max-width: 390px;
      &__body {
        &__right {
          margin-top: 15px;
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .home__parallax__container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .home__tab__body__container__today__middle {
    width: 750px;
  }
  .home__parallax__container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .home__tab__body__container__today__middle {
    width: 970px;
  }
  .home__parallax__container {
    max-width: 960px;
    &__body {
      &__left {
        flex: 0 0 50%;
      }
      &__right {
        padding-top: 10px;
        flex: 0 0 50%;
      }
    }
  }
}
@media (min-width: 1200px) {
  .home__tab__body__container__today__middle {
    width: 1170px;
  }
  .home__parallax__container {
    max-width: 1140px;
  }
}
@media (max-width: 1023px) {
  .home__tab__body__container__today__up {
    display: none !important;
  }
  .home__more__container__header {
    padding: 0 35px;
  }
}
@media (max-width: 966px) {
  .home__more {
    padding: 30px 20px 75px;
    &__pattern {
      transform: rotate(180deg);
      right: 0;
      left: unset;
      top: unset;
      svg {
        opacity: 1;
      }
    }
    &__container {
      &__header {
        padding: 0 20px;
        &__title {
          width: 100%;
          justify-content: space-between;
          span {
            font-size: 18px;
            letter-spacing: 4.7px;
          }
        }
      }
      &__content {
        &__info {
          &__logo__body {
            &__img {
              height: 100px;
            }
          }
          &__title {
            font-size: 29px;
            line-height: 37px;
            max-width: 265px;
          }
          &__action {
            a {
              height: 50px;
              span {
                height: 50px;
              }
            }
          }
        }
      }
    }
    &__images {
      display: none;
    }
  }
}
