.sign {
  font-family: 'Quicksand', sans-serif;
  &__main {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-color: rgba(26, 26, 26, 0.9);
    }
    &__container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      z-index: 2;
      position: relative;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      max-width: 1140px;
      &__body {
        text-align: left;
        max-width: 500px;
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        padding-bottom: 10px;
      }
      &__link {
        color: #fff !important;
        outline: 0 !important;
        transition: all 0.3s ease;
        background-color: transparent;
      }
    }
  }
}

.hide {
  display: none !important;
}
