.soon {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: grey;
  &__up {
    zoom: 1;
    padding: 80px 0;
    max-width: 100vw;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 500px;
    color: #f7f7f7;
    background: #131313;
    overflow: hidden;
    align-items: center;
    &__back {
      background-color: #392826;
      animation: wvcbgzoomin 100s infinite linear 1s;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      overflow: hidden;
      img {
        // vertical-align: bottom;
        max-width: 100%;
        transition: opacity 0.2s ease;
        object-fit: cover;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        z-index: 0;
        font-family: 'object-fit: cover;';
        object-position: 50% 50%;
      }
    }
    &__color {
      background-color: #000000;
      opacity: 0.6;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
    &__body {
      align-self: stretch;
      width: 92%;
      margin: 0 auto;
      max-width: 1140px;
      position: relative;
      &__content {
        height: 100%;
        width: 100% !important;
        margin-left: 0 !important;
        display: flex;
        &__container {
          height: 100%;
          display: flex;
          width: 100%;
          vertical-align: middle;
          &__col {
            margin: 0 17.5px;
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-self: center;
            width: 100% !important;
            position: static !important;
            &__ef {
              z-index: 0;
              position: relative;
              display: flex;
              width: 100%;
              &__inner {
                display: flex;
                width: 100%;
                position: relative;
                z-index: 5;
                &__wrap {
                  width: 100%;
                  margin: 0 auto;
                  div {
                    margin-bottom: 0;
                    h2 {
                      font-family: 'Vollkorn', serif;
                      font-size: 96px;
                      font-weight: 400;
                      text-align: center;
                      line-height: 1.5;
                      text-transform: uppercase;
                      color: #fff;
                      letter-spacing: 1px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__header {
    text-align: center;
    height: 46px;
    &__btn {
      border: none;
      border-radius: 5px 5px 0 0;
      padding: 15px 20px 12px 20px;
      font-size: 18px;
      font-weight: 600;
      line-height: 21px;
      display: inline-block;
      color: #000;
      background-color: #fff;
      transition: all 0.2s linear;
      cursor: pointer;
      &:nth-child(1),
      &:nth-child(2) {
        margin-right: 5px;
      }
    }
  }
  &__body {
    border-top: 5px solid #1e2129;
    position: relative;
    &__container {
      &__today {
        display: block;
        &__up {
          padding: 25px 0;
          // background: #334e9e;
          background-color: #1e2129;
          text-align: center;
          &__drop {
            display: inline-block;
            margin-right: 40px;
            appearance: none;
            select {
              font-size: 16px;
              line-height: 19px;
              padding: 0 15px 0 20px;
              float: left;
              margin-right: 1px;
              border-radius: 20px;
              min-width: 170px;
              height: 40px;
              border: none;
              &:focus-visible {
                outline: none;
              }
            }
          }
        }
        &__middle {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 100px;
          padding-top: 10px;
          // width: 1170px;
          &__body {
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
      &__schedule {
      }
      &__soon {
      }
    }
  }
}

.tab_active {
  background: #1e2129;
  color: #fff;
  cursor: default;
}

@media (min-width: 280px) {
  .soon__body__container__today__middle {
    width: 300px;
  }
  .soon__up__body {
    h2 {
      font-size: 40px !important;
    }
  }
}
@media (min-width: 450px) {
  .soon__body__container__today__middle {
    width: 430px;
  }
  .soon__up__body {
    h2 {
      font-size: 80px !important;
    }
  }
}
@media (min-width: 576px) {
  .soon__body__container__today__middle {
    width: 520px;
  }
  .soon__up__body {
    h2 {
      font-size: 80px !important;
    }
  }
}
@media (min-width: 768px) {
  .soon__body__container__today__middle {
    width: 750px;
  }
  .soon__up__body {
    h2 {
      font-size: 96px !important;
    }
  }
}
@media (min-width: 992px) {
  .soon__body__container__today__middle {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .soon__body__container__today__middle {
    width: 1170px;
  }
}
@media (max-width: 1023px) {
  .soon__body__container__today__up {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .soon {
    margin-top: 50px;
  }
}

@keyframes wvcbgzoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35);
  }
  100% {
    transform: scale(1);
  }
}
