.header {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999999;
  border-bottom: 1px solid #fff;
  &__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &__body {
      display: flex;
      align-items: center;
      &__logo {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 800;
        width: 215px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a {
          color: #ffffff;
          background-color: transparent;
          span {
            color: #e41a1a !important;
          }
        }
      }
      &__menu {
        width: calc(100% - 215px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__nav {
          font-family: 'Poppins', sans-serif;
          &__list {
            &__ul {
              &__li {
                display: inline-block;
                position: relative;
                margin-bottom: 0;
                line-height: 36px;
                color: #777;
                font-size: 14px;
                padding: 0;
                a {
                  color: #fff;
                  line-height: 80px;
                  display: inline-block;
                  padding: 0 20px;
                  font-size: 15px;
                  text-transform: capitalize;
                  font-weight: 500;
                  &:hover {
                    color: #e41a1a;
                  }
                }
              }
            }
          }
        }
        &__login {
          a {
            color: #fff !important;
            background-color: #e41a1a;
            border-color: #e41a1a;
            font-size: 14px;
            padding: 10px 30px;
            margin-left: 1rem !important;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            &:hover {
              background-color: #da3535;
              border-color: #da3535;
            }
          }
        }
      }
    }
  }
}
.mobile_bar {
  display: none;
  background: #ffffff;
  padding: 4px 0;
  height: 42px !important;
  z-index: 999999;
  float: left;
  width: 100%;
  position: relative;
  box-sizing: content-box;
  &__link {
    display: block;
    padding: 13px 13px 11px;
    position: absolute;
    top: 0;
    cursor: pointer;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    background-color: transparent;

    color: #444;
    right: 0px;
    left: auto;
    text-align: center;
    text-indent: 0px;
    font-size: 18px;
    z-index: 999999;
    span {
      background: #e41a1a;
      display: block !important;
      height: 3px;
      width: 22px;
      margin-top: 3px;
      box-sizing: content-box;
      transition: 0.5s ease-in-out;
    }
  }
  &__nav {
    background: transparent;
    float: left;
    width: 100%;
    margin-top: 44px;
    transition: 0.6s ease-in-out;
    visibility: hidden;
    &__ul {
      visibility: hidden;
      transform: translateY(-401px);
      transition: 0.6s ease-in-out;
      list-style-type: none;
      margin: 0px 0px;
      padding: 0;
      width: 100%;
      &__li {
        width: 99.7%;
        position: relative;
        float: left;
        margin-bottom: 0;
        line-height: 36px;
        color: #777;
        font-size: 14px;
        display: block;
        padding: 0;
        a {
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          background: #fff none repeat scroll 0 0;
          float: left;
          font-size: 14px;
          margin: 0;
          padding: 10px 20px;
          text-align: left;
          text-decoration: none;
          text-transform: inherit;
          width: 100%;
          font-weight: 500;
          color: #868686;
          border-bottom: 1px solid #eee;
          display: flex;
          align-items: center;
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}
.mobile_header {
  display: none;
  &__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &__body {
      display: flex;
      align-items: center;
      &__logo {
        width: 215px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 800;
        a {
          color: #303030;
          background-color: transparent;
          &:hover {
            color: #e41a1a;
          }
          span {
            color: #e41a1a !important;
          }
        }
      }
    }
  }
}

.active {
  visibility: visible;
  .mobile_bar__nav__ul {
    transform: translateY(0px);
    visibility: visible;
  }
  .mobile_bar__link {
    &__sp1 {
      background-color: #444;
      transform: translateY(200%) rotate(50deg);
    }
    &__sp2 {
      background-color: #444;
      opacity: 0;
      transform: translateX(-40px);
    }
    &__sp3 {
      background-color: #444;
      transform: translateY(-200%) rotate(-50deg);
    }
  }
}

// Responsive
@media (min-width: 1367px) and (max-width: 2000px) {
  .header {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    display: block;
    &__container__body {
      &__menu {
        &__nav__list__ul__li {
          a {
            padding: 0 10px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header {
    display: block;
    &__container__body {
      &__logo {
        height: inherit;
        left: 20px;
        padding: 0;
        position: absolute;
        top: 20px;
        z-index: 999999;
      }
      &__menu {
        width: 100%;
        &__nav__list__ul__li {
          a {
            padding: 0 5px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
  .mobile_bar,
  .mobile_header {
    display: block;
  }
  .mobile_header__container__body__logo {
    height: inherit;
    left: 20px;
    padding: 0;
    position: absolute;
    top: 5px;
    z-index: 999999;
  }
}

@media (min-width: 576px) {
  .header__container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .header__container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .header__container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    max-width: 1140px;
  }
}
